@charset 'utf-8';
@import 'mixin';
@import '../../node_modules/@euid/scss-mixins';
@import '../../node_modules/flexbox-grid-mixins/sass/flexbox-grid-mixins';

.el{
    &-form{
        &-row{
            @include flex-c(row items-center);
        }
        &__tit{
            @include font(size rem(14) weight 600);
        }
        &__label{
            display:inline-block;
        }
    }
}
.custom{
    &-sel{
        position:relative;
        @include flex-c(row items-center);
        *{
            @include font(size rem(14));
        }
        &__btn{
            @include flex-c(row items-center);
            @include padding(x 10 y 7);
            @include font(weight 700);
            width:100%;
            height:34px;
            border:1px solid #d5dde7;
            color:#333;
            span{
                @include font(weight 500);
            }
            img{
                margin-left:auto;
            }
        }
        &__list{
            @include absolute(t 33 l 0);
            width:100%;
            height:auto;
            border:1px solid #d5dde7;
            border-top:none;
            z-index:1;
            li{
                @include padding(10);
                background-color:#fff;
                cursor:pointer;
            }
        }
        &.is-open{
            .custom-sel__btn{
                border-bottom-color:#fff;
                transition: all 1s ease(out-expo);
                img{
                    transform:rotate(180deg);
                }
            }
        }
    }
}

// hover
@include media-breakpoint-up(n-xl){
    .custom{
        &-sel{
            &__list{
                li{
                    &.is-hover{
                        background-color:#eee;
                    }
                }
            }
        }
    }
}