.boxItem-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.el-table--dataUse th {
  text-align: center;
}
.el-table--dataUse td {
  text-align: center;
}
.el-table--accident th {
  text-align: center;
}
.el-table--accident td {
  text-align: center;
}